# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Unity meta files
*.pidb
*.pidb.meta
*.booproj
*.svd
*.pdb
*.mdb
*.meta

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sln.iml
